Django==1.10.4
defusedxml==0.4.1
django-allauth==0.29.0
django-appconf==1.0.2
django-compressor==2.1
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-extensions==1.7.5
django-suit==0.2.23
django-suit-redactor==0.0.4
oauthlib==2.0.1
python3-openid==3.0.10
rcssmin==1.0.6
requests==2.12.4
requests-oauthlib==0.7.0
rjsmin==1.0.12
six==1.10.0
sqlparse==0.2.2
whitenoise==3.2.2
