{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block extrahead %}
	{{form.media.css}}
{% endblock %}

{% block title %} {% trans "Add" %} {{verbose_name}} {% endblock %}

{% block page_content %} 
	<div class="row">
		<div class="col-md-12 content-box-info">
			<div class="content-box-header">
				<div class="panel-title">{% trans "Add" %} {{verbose_name}}</div>
			</div>
			<div class="content-box-large box-with-header">
				{% crispy form %}
			</div>
		</div>
	</div>
{% endblock %}

{% block footerjs %}
	{{form.media.js}}
{% endblock %}